/* Our CSS file. */


#container {
width: 1000px;
height: 1000px;
}
.top,.bottom{
    display:block;
    width:1000px;
    border:1px solid;
    margin:5px;
    height:500px;
}
.top_right,.bottom_left{
    display:inline-block;
    width:494px;
    height:495px;
}
img{
    height:100%;
    width: 100%;
}
.top_left{
    display:inline-block;
    width:494px;
    height:495px;
}
.bottom_right{
    display:inline-block;
    width:494px;
    height:495px;
}

