/* Our CSS file. */


.page{
    width:100%;
    height:auto;
    border:1px solid;
}
.logo{
    float:left;
}
.search{
    float:right;
}
.page-header{
    margin:5px;
    border:1px solid black;
}
ul{
    list-style: none;
}
ul li{
    display:inline-block;
    margin:5px ;
}
.page-content{
    display:inline-block;
    width:100%
}
aside,section{
    width:30%;
    border:1px solid black;
    margin:5px; 
    display:inline-block; 
}
.left-side ul li,.right-sidebar-menu ul li{
    display:block;
    margin:20px 0px;
}
footer{
    margin:5px;
    border:1px solid black;
}

