/* Our CSS file. */


.page{
    width:100%;
    height:auto;
    border:1px solid;
}
.logo{
    float:left;
    height:70px;
    width:60px;
}
.search{
    float:right;
}
.page-header {
    margin:5px;
    border:1px solid black;
    height:80px;
}
.nav-bar{
    margin:5px 5px 5px 5px;
    border:1px solid black;
}
header{
    border-bottom:1px solid black;
}
ul{
    list-style: none;
}
ul li{
    display:inline-block;
    margin:5px ;
}
.nav-ul{
    margin:10px;
    text-align: center;
}
.nav-ul li{
    margin:0px 40px;
}
.page-content{
    display:inline-block;
    width:100%
}
aside,section{
    border:1px solid black;
    margin:5px; 
    display:inline-block;
    vertical-align: top; 
}
aside{
    width:12%;
}
section{
    width:65%;
}
img{
    width:250px;
    height:250px;
}
.left-side ul li,#right-sidebar-menu li{
    display:block;
    margin:20px 0px;
}
footer{
    margin:5px;
    border:1px solid black;
}

